<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Patch
		AllowRemoval="no"
		Manufacturer="Acme Ltd."
		MoreInfoURL="http://wix.tramontana.co.hu/tutorial/upgrades-and-modularization/patchwork"
		DisplayName="Sample HotFix"
		Description="Sample HotFix"
		Classification="Hotfix">

<!-- 		Description="Sample HotFix - $(var.HFID)"
 -->
		<Media 
			Id='2'
			Cabinet='localised_1033'>
			<PatchBaseline Id='Sample_en_US'>
				<Validate ProductLanguage='yes'/>
			</PatchBaseline>
		</Media>
		<Media 
			Id='3'
			Cabinet='localised_1031'>
			<PatchBaseline Id='Sample_de_DE'>
				<Validate ProductLanguage='yes'/>
			</PatchBaseline>
		</Media>

		<PatchFamily
			Id='SamplePatchFamily'
			Version='1.0.0.0'
			Supersede='yes'>
		</PatchFamily>
	</Patch>
</Wix>
