<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >

  <?define mavenVersion=8.0.0.0 ?>
  <?define mavenOrganisation=SomeOrganistation ?>
  <?define mavenCopyright=©2012 ?>

  <?define AddRemoveProgramURLINFOABOUT=http://wix.sourceforge.net/about ?>
  <?define AddRemoveProgramURLUPDATEINFO=http://wix.sourceforge.net/update ?>
  <?define AddRemoveProgramHELPLINK=http://wix.sourceforge.net/help ?>
  <?define AddRemoveProgramHELPTELEPHONE=http://wix.sourceforge.net/phone ?>

  <Bundle Name="WixExamples" UpgradeCode="00000001-7349-453F-94F6-BCB5110BA000"
          Version="$(var.mavenVersion)" 
          Manufacturer="$(var.mavenOrganisation)"
          Copyright="$(var.mavenCopyright)" 
          AboutUrl="$(var.AddRemoveProgramURLINFOABOUT)" 
          HelpUrl="$(var.AddRemoveProgramHELPLINK)" 
          UpdateUrl="$(var.AddRemoveProgramURLUPDATEINFO)"
          HelpTelephone="$(var.AddRemoveProgramHELPTELEPHONE)"
          >
    <!-- TODO:
          ParentName="" 
          IconSourceFile="Company.ico"
          SplashScreenSourceFile="dialog.bmp"
    Only 1 bundle, not allowed culture spec or loc. references...
          AboutUrl="!(loc.AddRemoveProgramURLINFOABOUT)" 
          HelpUrl="!(loc.AddRemoveProgramHELPLINK)" 
          UpdateUrl="!(loc.AddRemoveProgramURLUPDATEINFO)"
          HelpTelephone="!(loc.AddRemoveProgramHELPTELEPHONE)"
    -->
    <!--<bal:Condition Messgae="No Foo for You"></bal:Condition>-->

    <!-- Using the provided WixStandardBootstrapperApplication.HyperlinkLicense definition doesn't allow for adding additional payloads.
    When including payloads in the ApplicationRef, those payloads come first, however the wix default bootstrap looks for the wixstba.dll uses payload 0 as the dll.
    So, can either define custom BootstrapperApplication (as of wix3.7) or have an additional file added by adding an additiona wixstba.dll payload first 
    <BootstrapperApplication Id='WixStandardBootstrapperApplication.YourCustomHyperlinkLicense' SourceFile='wixstdba\wixstdba.dll'>
      <PayloadGroupRef Id="WixStdbaHyperlinkLicensePayloadsBase"/>
      <PayloadGroupRef Id="WixStdbaHyperlinkLicensePayloadsDE"/>
    </BootstrapperApplication>-->
    <!-- this sets some variables and includes the default Payload without sub path, wixlib will provide using defaults -->
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" >
      <bal:WixStandardBootstrapperApplication
            LicenseUrl=""
            SuppressOptionsUI="yes"
            />
    </BootstrapperApplicationRef>

    <Variable Name="ADDLOCAL" bal:Overridable="yes"/>
		<Chain>
			<!-- TODO: Define the list of chained packages. -->
      <!-- <PackageGroupRef Id='NetFx40Web' />-->
      <!-- <PackageGroupRef Id="vcredist" /> -->
      <!-- <RollbackBoundary /> -->

      <!-- Keep these in sync with the payloads in the BootstrapperApplicationRef above -->
      <?define ic_de = "UserLanguageID = 1031 OR UserLanguageID = 2055 OR UserLanguageID = 3079 OR UserLanguageID = 4103 OR UserUILanguage = 5127"?>

      <!-- As the default package, the InstallCondition for en.msi must complement the InstallConditions for the other mst packages. -->
      <MsiPackage Id="NSL_EN_64" Compressed="yes" SourceFile="$(var.msi.TargetPath-x64-en-US)" Vital="yes" InstallCondition="VersionNT64 AND NOT ($(var.ic_de))" DisplayInternalUI="yes" >
<!-- 
        <PayloadGroupRef Id="Cabinets64"/>
        <MsiProperty Name="ADDLOCAL" Value="[ADDLOCAL]"/>
         -->
      </MsiPackage>
      <MsiPackage Id="NSL_EN_32" Compressed="yes" SourceFile="$(var.msi.TargetPath-x86-en-US)" Vital="yes" InstallCondition="NOT VersionNT64 AND NOT ($(var.ic_de))" DisplayInternalUI="yes">
<!-- 
        <PayloadGroupRef Id="Cabinets32"/>
        <MsiProperty Name="ADDLOCAL" Value="[ADDLOCAL]"/>
         -->
      </MsiPackage>

      <MsiPackage Id="NSL_DE_64" Compressed="yes" SourceFile="$(var.msi.TargetPath-x64-de-DE)" Vital="yes" InstallCondition="VersionNT64 AND ($(var.ic_de))" DisplayInternalUI="yes">
<!-- 
        <PayloadGroupRef Id="Cabinets64"/>
        <MsiProperty Name="ADDLOCAL" Value="[ADDLOCAL]"/>
         -->
      </MsiPackage>
      <MsiPackage Id="NSL_DE_32" Compressed="yes" SourceFile="$(var.msi.TargetPath-x86-de-DE)" Vital="yes" InstallCondition="NOT VersionNT64 AND ($(var.ic_de))" DisplayInternalUI="yes">
<!-- 
        <PayloadGroupRef Id="Cabinets32"/>
        <MsiProperty Name="ADDLOCAL" Value="[ADDLOCAL]"/>
         -->
      </MsiPackage>

		</Chain>
	</Bundle>

<!-- 
  <Fragment>
    <PayloadGroup Id='Cabinets32'>
      <Payload Id="Product_32" SourceFile="cabs\x86\Product.cab" Name="Product.cab" />
      <PayloadGroupRef Id="CabinetsNA"/>
    </PayloadGroup>
    <PayloadGroup Id="CabinetsNA">
      <Payload Id="Redist_32" SourceFile="cabs\x86\Redist32.cab" Name="Redist32.cab" />
    </PayloadGroup>
    <PayloadGroup Id='Cabinets64'>
      <Payload Id="Redist_64" SourceFile="cabs\x64\Redist64.cab" Name="Redist64.cab" />
      <PayloadGroupRef Id="CabinetsNA"/>
    </PayloadGroup>
  </Fragment>
 -->
</Wix>